:root {
  --main-bg: #0B0C10;        
  --card-bg: #1F2833;        
  --text-light: #F5F5F7;     
  --accent-gold: #C5A880;   
  --accent-gold-bright: #D4AF37;
  --border: rgba(197,168,128,.18);
}
.top-bar {
  background-color: var(--main-bg);
  height: 50px;
  width: 100%;
  color: var(--text-light);
   display: flex;
    align-items: center;
}
.open-time p {
  margin: 0;
  font-size: 14px;
}
.contact-info ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  list-style: none;
  gap: 30px;
}
.contact-info ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-info ul li i {
  font-size: 18px;
  color: var(--accent-gold);
}
.contact-info ul li a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 14px; 
  display: flex;
  align-items: center;
  gap: 8px;

}